    - filter_chain_match:
        server_names: ["${name}:${port}", "${name}", "${region1}:${port}", "${region1}", "${region2}:${port}", "${region2}"]
      filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          codec_type: AUTO
          access_log:
          - name: "envoy.access_loggers.stderr"
            typed_config:
              "@type": "type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StderrAccessLog"
          stat_prefix: s3-rgw-${region}
          route_config:
            name: s3-rgw
            virtual_hosts:
