              - match:
                  prefix: "/"
                route:
                  cluster: ${name}
                  timeout: 300s
                  max_stream_duration:
                    max_stream_duration: 0s
                  retry_policy:
                    retry_on: connect-failure,refused-stream,gateway-error,deadline-exceeded,unavailable
                    num_retries: 2
